{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/departements.js')}}" defer></script>
  
{% endblock %}
{% block body %}
<section class="styleform">

    <div class="parentform">
        <h1>Ajouter une Annonce</h1>
       
    
         {{ form_start(add_annoncesform) }}
            {{ form_row(add_annoncesform.title) }}
            {{ form_row(add_annoncesform.content) }}
            {{ form_row(add_annoncesform.categories) }}
            {{ form_row(add_annoncesform.images) }}
            {{ form_row(add_annoncesform.regions) }}
            {{ form_row(add_annoncesform.departements) }}
            <button type="submit" class="btn">Ajouter</button>
         {{ form_end(add_annoncesform) }} 
    
    </div>
    </section>

{% endblock %}